<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">

		<h2 style="text-align: center;"> Aluno</h2>
		<hr />
			<h:form id="formId">
				<b:row>
					<b:inputText label="Nome" 
						value="#{alunoBean.alunoSelecionado.nome}" span="4"
						placeholder="Nome Completo" required="true" title="Informe o nome do Aluno" />
					<b:inputText label="Cpf" span="2" placeholder="XXX.XXX.XXX-XX"
						mask="999.999.999-99" required="true"
						value="#{alunoBean.alunoSelecionado.cpf}" />
					<b:inputText label="RG" span="3" required="true" placeholder="RG"  value="#{alunoBean.alunoSelecionado.rg}" />
					<b:dateTimePicker span="3" label="Data Nascimento"
						value="#{alunoBean.alunoSelecionado.dataNascimento}"
						format="DD/MM/YYYY" required="true" />

				</b:row>

				<b:row>
					<b:inputText label="Nome Mãe" span="4" placeholder="Nome da Mãe"
						required="true" value="#{alunoBean.alunoSelecionado.nomeMae}" />
					<b:inputText label="Nome Pai" span="4" placeholder="Nome do Pai"
						required="true"  value="#{alunoBean.alunoSelecionado.nomePai}" />
					<b:inputText label="Telefone Responsavel" span="4"
						value="#{alunoBean.alunoSelecionado.telefoneResponsavel}"
						placeholder="Telefone" required="true" mask="(99)99999-9999" />

				</b:row>

				<b:row>
					<b:inputText label="Email" span="4" placeholder="Email"
						type="email" value="#{alunoBean.alunoSelecionado.email}" />

					<b:inputText label="Rua" span="4" placeholder="Endereco"
						value="#{alunoBean.alunoSelecionado.endereco}" />

					<b:inputText label="Bairro" value="#{alunoBean.alunoSelecionado.bairro}" span="4" placeholder="Bairro" />


				</b:row>




				<b:row style="margin:15px;">

					<b:commandButton actionListener="#{alunoBean.salvar()}" span="2"
						offset="4" value="Salvar" look="primary" />

					<b:commandButton span="2" value="Limpar Dados" look="danger" type="reset" />

				</b:row>




			</h:form>
			</ui:define>
			</ui:composition>


</html>
