<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">


		<h1 style="text-align: center;">Alunos</h1>
		<hr />

		<b:row style="margin-bottom:15px;">
			<b:button icon-awesome="plus" outcome="addAluno" value="Novo"
				look="primary" />
		</b:row>

		<b:row>
			<h:form>
				<b:dataTable value="#{alunoBean.alunos}" page-length="4" var="aluno">
					<b:dataTableColumn label="Nome" value="#{aluno.nome}" />
					<b:dataTableColumn label="Cpf" value="#{aluno.cpf}" />
					<b:dataTableColumn label="Nascimento"
						value="#{aluno.dataNascimentoStr}" />
					<b:dataTableColumn label="Data Cadastro"
						value="#{aluno.dataCadastroStr}" />
					<b:dataTableColumn label="">
						<p:button  icon="ui-icon-pencil" outcome="addAluno">
							<f:param name="alunoId" value="#{aluno.alunoId}" />
						</p:button>

						<p:button style="margin-left:6px;"  icon="ui-icon-document">
						</p:button>

						<p:commandButton style="margin-left:6px;"
							action-listener="#{alunoBean.excluirAluno}" icon="ui-icon-trash">
							<p:confirm header="Alerta"
								message="Deseja excluir o(a) Aluno(a) #{aluno.nome} ? "
								icon="ui-icon-alert" />
							<f:attribute name="alunoSelecionado" value="#{aluno}" />
						</p:commandButton>



					</b:dataTableColumn>
				</b:dataTable>


				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Sim" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
				</p:confirmDialog>
			</h:form>
		</b:row>


	</ui:define>
</ui:composition>

</html>
