<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"> 

<h:head></h:head> 
<h:body> 


	<hr />
				<h3>Documentos Aluno</h3>
				<hr />
				<b:row>
					<p:fileUpload fileUploadListener="#{alunoBean.handleFileUpload}"
						label="Anexar Documento" auto="true" update=":formId"
						multiple="true" />

				</b:row>

				<b:row>

					<b:dataTable id="dataArquivo" value="#{alunoBean.arquivosAluno}"
						var="arquivo">
						<b:dataTableColumn label="Arquivo" value="#{arquivo.arquivo}">

						</b:dataTableColumn>

						<b:dataTableColumn label="">
							<p:commandButton type="button" style="margin:5px;"
								icon="ui-icon-arrowthickstop-1-s"></p:commandButton>

							<p:commandButton icon="ui-icon-trash"
								action="#{alunoBean.removerArquivo}" ajax="true">

								<p:confirm header="Alerta"
									message="Deseja excluir o arquivo #{arquivo.arquivo} ? "
									icon="ui-icon-alert" />
								<f:attribute name="arquivo" value="#{arquivo}" />

							</p:commandButton>
						</b:dataTableColumn>
					</b:dataTable>

				</b:row>

</h:body> 
</html>
