<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Login Net</title>
	<h:outputScript library="js" name="locale.js" />
	<h:outputStylesheet>

	</h:outputStylesheet>
</h:head>
<h:body>
	<b:container fluid="true">
		<b:row>

			<b:jumbotron>
				<h3>EscolaNet - Cadastro</h3>
			</b:jumbotron>

		</b:row>
		<b:container style="margin-top:15px;">

			<b:row>
				<p:messages showDetail="true" id="msg" />
			</b:row>

			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				

				<f:facet name="start">
					<p:graphicImage name="./img/load.gif" />
				</f:facet>

				
			</p:ajaxStatus>

			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
					<p:graphicImage name="./img/load.gif" />
			</p:dialog>

			<b:panel title="Cadastro de  Usuario" look="primary">
				<h:form id="formId">
					<b:row>

						<b:column>
							<b:inputText label="Cpf" value="#{cadastroTokenBean.cpf}"
								col-md="4" mask="999.999.999-99" placeholder="Digite o CPF" />
						</b:column>

					</b:row>

					<b:row>

						<b:column>
							<b:inputText label="Email" col-md="4"
								value="#{cadastroTokenBean.email}" type="email"
								placeholder="Digite o email do funcionario" />
						</b:column>

					</b:row>

					<b:row>

						<b:column col-md="2" col-xs="12" offset-md="4">
							<b:commandButton value="Cadastrar"
								actionListener="#{cadastroTokenBean.cadastrar()}" look="primary"
								update=":msg :formId" />
						</b:column>

						<b:column col-md="2" col-xs="12">
							<b:commandButton value="Limpar Dados" type="reset" look="danger" />
						</b:column>

					</b:row>

				</h:form>
			</b:panel>


		</b:container>
	</b:container>
</h:body>
</html>
