<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Login Net</title>
	<h:outputScript library="js" name="locale.js" />
	<h:outputStylesheet>

	</h:outputStylesheet>
</h:head>
<h:body>
	<b:container fluid="true" id="conteudo">
		<b:row>

			<b:jumbotron>
				<h3>EscolaNet - Cadastro</h3>
			</b:jumbotron>

		</b:row>
		<b:container style="margin-top:15px;">
		
		<b:row>
		<b:column>
		
		<b:alert value="Link invalido e/ou expirado !" title="Alerta!"  rendered="#{!cadastroUsuarioBean.cadastroVisible}" ></b:alert>
        
        </b:column>
		</b:row>

			<b:row>
				<p:messages id="msg" showDetail="true" globalOnly="true"/>
			</b:row>

			<b:panel title="Cadastro de  Usuario" look="primary"
				rendered="#{cadastroUsuarioBean.cadastroVisible}">
				<h:form>
					<b:row style="margin:10px;">
						<p:fieldset legend="Funcionario">

							<b:column col-md="4">
								<b:inputText label="Nome"
									value="#{cadastroUsuarioBean.funcionario.nome}" disabled="true" />
							</b:column>

							<b:column col-md="4">
								<b:datepicker label="Nascimento"
									value="#{cadastroUsuarioBean.funcionario.dataNascimento}"
									disabled="true" />
							</b:column>

							<b:column col-md="4">
								<b:inputText label="Email"
									value="#{cadastroUsuarioBean.funcionario.email}"
									disabled="true" />
							</b:column>

						</p:fieldset>
					</b:row>


					<b:row>

						<b:column offset-md="3" col-xs="12" col-md="3">

							<b:inputText readonly="true"
								value="#{cadastroUsuarioBean.usuario.login}" label="Login" />

						</b:column>


					</b:row>

					<b:row>

						<b:column offset-md="3" col-xs="12" col-md="6">

							<b:inputSecret label="Senha"
								value="#{cadastroUsuarioBean.usuario.senha}"
								placeholder="Digite sua senha  " />

						</b:column>


					</b:row>

					<b:row>

						<b:column offset-md="3" col-xs="12" col-md="6">

							<b:inputSecret label="Confirmação de Senha"
								value="#{cadastroUsuarioBean.usuario.confirmacaoSenha}"
								placeholder="Confirme sua senha" />

						</b:column>


					</b:row>

					<b:row>

						<b:column col-md="2" col-xs="12" offset-md="4">
							<b:commandButton value="Cadastrar" size="lg"
								actionListener="#{cadastroUsuarioBean.cadastrar()}"
								look="primary" update=":msg :conteudo" />
						</b:column>

						<b:column col-md="2" col-xs="12">
							<b:commandButton value="Limpar Dados" size="lg" type="reset"
								look="danger" />
						</b:column>

					</b:row>

				</h:form>
			</b:panel>


		</b:container>
	</b:container>
</h:body>
</html>
