<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">


		<h1 style="text-align: center;">Diario Digital -</h1>
		<hr />

		<b:row>

			<p:panel header="Informações da Turma">
				<b:row>

					<b:column col-md="3">

						<b:inputText label="Serie" disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Turma" disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Turno" disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Ano" disabled="true" />

					</b:column>


				</b:row>
			</p:panel>

			<p:panel header="Informações da Disciplina">

				<b:row>
					<b:column col-md="4">

						<b:inputText label="Nivel" disabled="true" />

					</b:column>

					<b:column col-md="4">

						<b:inputText label="Disciplina" disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Carga Horaria" disabled="true" />

					</b:column>

				</b:row>

			</p:panel>


		</b:row>

		<b:row>
			<h:form>
				<p:tabView>
					<p:tab title="1º Bimestre">
						<p:dataTable emptyMessage="Sem Informações" editable="true"
							style="margin-bottom:20px">
							<f:facet name="header">
          Alunos 
        </f:facet>

							<p:ajax event="rowEdit" />
							<p:ajax event="rowEditCancel" />

							<p:column headerText="Aluno">

							</p:column>

							<p:column headerText="1º Ava">
								<p:cellEditor>

								</p:cellEditor>
							</p:column>

							<p:column headerText="2º Ava">
								<p:cellEditor>

								</p:cellEditor>
							</p:column>

							<p:column headerText="3º Ava">
								<p:cellEditor>

								</p:cellEditor>
							</p:column>

							<p:column headerText="Faltas">
								<p:cellEditor>

								</p:cellEditor>
							</p:column>

							<p:column headerText="Media">

							</p:column>

							<p:column style="width:35px">
								<p:rowEditor />
							</p:column>
						</p:dataTable>


					</p:tab>
					<p:tab title="2º Bimestre">

						<b:dataTable>
							<b:dataTableColumn label="Aluno" >

							</b:dataTableColumn>
							
							<b:dataTableColumn label="1º Ava" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							
							<b:dataTableColumn label="2º Ava" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							<b:dataTableColumn label="3º Ava" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							<b:dataTableColumn label="4º Ava" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							<b:dataTableColumn label="Faltas" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							
								<b:dataTableColumn label="Media" >
								<p:cellEditor>

								</p:cellEditor>
							</b:dataTableColumn>
							
							<b:dataTableColumn label="" >
								<p:rowEditor></p:rowEditor>
							</b:dataTableColumn>

						</b:dataTable>


					</p:tab>
					<p:tab title="3º Bimestre">


					</p:tab>
					<p:tab title="4º Bimestre">


					</p:tab>

				</p:tabView>
			</h:form>
		</b:row>


	</ui:define>
</ui:composition>

</h:html>
