<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	 xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">

		<h1 style="text-align: center;">Diario do Professor</h1>
		<hr />

		<b:row>		
			<b:panel look="primary">
			<h:form id="formFiltroId">
				<b:row>

					<b:column col-md="3">

						<b:selectOneMenu label="Serie" value="#{listaDiarioMB.filtroDiario.serie}" >
							<f:selectItem  noSelectionValue="true"
								itemLabel="Selecione a Serie" />
							<f:selectItems value="#{listaDiarioMB.series}" var="serie"
								itemLabel="#{serie.descricao}" itemValue="#{serie}" />
							<p:ajax listener="#{listaDiarioMB.reloadDisciplina}" update=":formFiltroId"  />	
						</b:selectOneMenu>

					</b:column>

					<b:column col-md="4">

						<b:selectOneMenu label="Disciplina" value="#{listaDiarioMB.filtroDiario.disciplina}"> 
							<f:selectItem itemDisabled="true"  noSelectionValue="true" 
								itemLabel="Selecione a Disciplina" />
							<f:selectItems value="#{listaDiarioMB.disciplinas}"
								var="disciplina"
								itemLabel="#{disciplina.tipoNivelEnum.descricao}-#{disciplina.descricao}"
								itemValue="#{disciplina}" />
						</b:selectOneMenu>

					</b:column>


					<b:column col-md="3">

						<b:selectOneMenu label="Turno"  value="#{listaDiarioMB.filtroDiario.turno}" >
							<f:selectItem  noSelectionValue="true"
								itemLabel="Selecione o Turno"  />
							<f:selectItems value="#{listaDiarioMB.turnos}" var="turno"
								itemLabel="#{turno}" itemValue="#{turno}" />
						</b:selectOneMenu>

					</b:column>


					<b:column col-md="2">

						<b:inputText type="number" label="Ano" value="#{listaDiarioMB.filtroDiario.ano}" placeholder="Ano do Diario" />

					</b:column>



				</b:row>



				<b:row>

					<b:column col-md="1" col-xs="12" offset-md="5" >

						<p:commandButton icon="ui-icon-search " actionListener="#{listaDiarioMB.pesquisar()}" update=":dataId:dataTableId" />

					</b:column>
					
					<b:column col-md="1" col-xs="12" >

						<p:commandButton icon="	ui-icon-arrowrefresh-1-s
" />

					</b:column>
				</b:row>
				</h:form>
			</b:panel>

		</b:row>

		<b:row>

			<h:form id="dataId">
				<b:dataTable id="dataTableId"  value="#{listaDiarioMB.diarios}" border="false" striped='true'
					var="diario">
					<b:dataTableColumn label="Serie" value="#{diario.turmaDisciplina.turma.serie.descricao}" />
					<b:dataTableColumn label="Turma" value="#{diario.turmaDisciplina.turma.descricao}" />
					<b:dataTableColumn label="Turno" value="#{diario.turmaDisciplina.turma.turno}" />
					<b:dataTableColumn label="Disciplina"
						value="#{diario.turmaDisciplina.disciplina.descricao}" />
					<b:dataTableColumn label="Professor" value="#{diario.turmaDisciplina.nomeProfessor}" />
					<b:dataTableColumn label="Ano" value="#{diario.ano}" />
					<b:dataTableColumn label="1º Bimes.">
					<img src="resources/img/#{diario.iconStatusPrimeriroBimes}"/>
					</b:dataTableColumn>
					<b:dataTableColumn label="2º Bimes.">
					<img src="resources/img/#{diario.iconStatusSegundoBimes}"/>
					</b:dataTableColumn>
					<b:dataTableColumn label="3º Bimes.">
					<img src="resources/img/#{diario.iconStatusTerceiroBimes}"/>
					</b:dataTableColumn>
					<b:dataTableColumn label="4º Bimes.">
					<img src="resources/img/#{diario.iconStatusQuartoBimes}"/>
					</b:dataTableColumn>
					<b:dataTableColumn label="">

						<p:commandButton  icon="ui-icon-pencil">

						</p:commandButton>
					</b:dataTableColumn>
				</b:dataTable>
			</h:form>







		</b:row>


	</ui:define>
</ui:composition>

</h:html>
