<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>Login Net</title>
	<h:outputScript library="js" name="locale.js" />
	<h:outputStylesheet>

	</h:outputStylesheet>
</h:head>
<h:body
	style="background-image:url(/escolanet/resources/img/back-img.jpg);
	background-repeat: no-repeat; 
	background-size:100%;
	margin: 0px;">

	<b:container fluid="true">

		<b:container style="margin-top:55px;padding-bottom:10px;width:430px;">
			<b:row>

				<b:column offset="4">
					<img src="resources/img/icons8-lock-128.png" />
				</b:column>

			</b:row>

			<h:form id="formId">

				<p:growl id="msg" sticky="true" />

				<b:row>
					<b:column col-md="12">
						<p:outputLabel value="Login" style="color:white;" />
						<b:inputText id="loginId" mask="999.999.999-99" required="true"
							requiredMessage="Informe o login" value="#{loginBean.login}"
							placeholder="Digite o CPF"
							style="background:rgba(0,0,0,0.2);border:none;color:white;" />
					</b:column>
					<b:column col-md="12">
						<p:outputLabel value="Senha" style="color:white;" />

						<b:inputSecret placeholder="Digite a Senha"
							value="#{loginBean.senha}" required="true"
							requiredMessage="Informe a senha"
							style="background:rgba(0,0,0,0.2);border:none;color:white;" />
					</b:column>
				</b:row>

				<b:row>
					<b:column offset="3" col-md="2">
						<p:commandButton value="Acessar"
							actionListener="#{loginBean.login()}" update=":formId :formDialog"
							style="background:rgba(0,0,0,0.2);border:none;color:white;padding:5px;" />
					</b:column>

					<b:column col-md="2" offset="1">
						<p:commandButton value="Limpar" type="reset"
							style="background:rgba(0,0,0,0.2);border:none;color:white;padding:5px;" />
					</b:column>

					<b:column style="margin-top:25px;" offset="4" col-md="3">
						<b:button value="Não sou Cadastrado" outcome="cadastroToken"
							style="background:rgba(0,0,0,0.2);border:none;color:white;padding-right:10px;padding-left:10px;text-align:center;" />
					</b:column>
				</b:row>
			</h:form>
			
			<h:form id="formDialog">
			<p:dialog header=" Matricula " style="text-align:center;"
					id="matriculaModalId" closable="false" widgetVar="matriculaModalId"
					modal="true" height="350" width="700">

					<b:row>

						<p:dataTable value="#{loginBean.matriculas}" var="matricula"
							rows="3" paginator="true">
							<p:column style="width:40%;" headerText="Unidade"  >
								<p:outputLabel value="#{matricula.unidade.descricao}" />
							</p:column>

							<p:column headerText="numero Matricula">
								<p:outputLabel value="#{matricula.numeroMatricula}" />
							</p:column>


							<p:column headerText="Cargo">
								<p:outputLabel value="#{matricula.cargo.descricao}" />
							</p:column>

							<p:column headerText="Cargo Horaria">
								<p:outputLabel value="#{matricula.cargoHorariaEsperada}" />
							</p:column>

							<p:column headerText="">
								<p:commandButton icon="ui-icon-check" actionListener="#{loginBean.selecaoMatricula}"  >
								<f:attribute name="matriculaSelecionada" value="#{matricula}" />
								</p:commandButton>
							</p:column>



						</p:dataTable>

					</b:row>

					<f:facet name="footer">
						<b:row >
							<b:column col-md="2" offset-md="5" col-xs="12">
								<b:button look="danger" icon-awesome="close" value="Fechar" onclick="PF('matriculaModalId').hide();" ></b:button>
							</b:column>
						</b:row>
					</f:facet>



				</p:dialog>
			</h:form>
		</b:container>
	</b:container>

</h:body>
</html>
