<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">


<ui:composition template="./template/template.xhtml">

	<ui:define name="conteudo">

		<h3>Mapeamento</h3>
		<hr />

		<b:panel look="primary" title="Filtro">
			<h:form id="filtroId">
				<b:row>
					<b:column col-md="3">
						<b:selectOneMenu label="Serie"
							value="#{mapeamentoBean.filtroTurmaDisciplina.serie}">
							<f:selectItem itemLabel="Selecione uma Serie"
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItems value="#{mapeamentoBean.series}" var="serie"
								itemLabel="#{serie.descricao} - #{serie.tipoNivelEnum.descricao}"
								itemValue="#{serie}" />
						</b:selectOneMenu>
					</b:column>

					<b:column col-md="3">
						<b:selectOneMenu label="Disciplina"
							value="#{mapeamentoBean.filtroTurmaDisciplina.disciplina}">
							<f:selectItem itemLabel="Selecione uma Disciplina"
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItems value="#{mapeamentoBean.disciplinas}"
								var="disciplina" itemLabel="#{disciplina.descricao}"
								itemValue="#{disciplina}" />
						</b:selectOneMenu>
					</b:column>

					<b:column col-md="3">
						<b:selectOneMenu label="Professor"
							value="#{mapeamentoBean.filtroTurmaDisciplina.matricula}">
							<f:selectItem itemLabel="Selecione uma Matricula"
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItems value="#{mapeamentoBean.matriculas}"
								var="matricula"
								itemLabel="#{matricula.numeroMatricula} - #{matricula.funcionario.nome} - #{matricula.cargoHorariaEsperada}" itemValue="#{matricula}" />
						</b:selectOneMenu>
					</b:column>

					<b:column col-md="3">
						<b:inputText type="number" label="Ano"
							value="#{mapeamentoBean.filtroTurmaDisciplina.ano}"
							placeholder="Ano" />
					</b:column>

				</b:row>

				<b:row>
					<b:column col-md="2" offset="4">
						<p:commandButton icon="ui-icon-search" value="Pesquisar"
							actionListener="#{mapeamentoBean.pesquisar}"
							update=":dataTableId" />

					</b:column>
					<b:column col-md="2">
						<p:commandButton icon="	ui-icon-refresh" value="Limpar"
							actionListener="#{mapeamentoBean.limpaFiltro()}"
							update=":dataTableId :filtroId" />

					</b:column>
				</b:row>

			</h:form>

		</b:panel>

		<b:row>
			<h:form id="dataTableId">
				<b:dataTable value="#{mapeamentoBean.turmaDisciplimas}"
					var="turmaDisciplina" paginated="true" page-length="6">
					<b:dataTableColumn label="Id"
						value="#{turmaDisciplina.turmaDisciplinaId}" />
					<b:dataTableColumn label="Turma"
						value="#{turmaDisciplina.turma.descricao}" />

					<b:dataTableColumn label="Turno"
						value="#{turmaDisciplina.turma.turno.descricao}" />
					<b:dataTableColumn label="Ano" value="#{turmaDisciplina.turma.ano}" />
					<b:dataTableColumn label="Disciplina"
						value="#{turmaDisciplina.disciplina.descricao}" />
					<b:dataTableColumn label="Professor"
						value="#{turmaDisciplina.nomeProfessor}" />
					<b:dataTableColumn label="">
						<p:commandButton icon="ui-icon-folder-collapsed"
							actionListener="#{mapeamentoBean.editar}"
							disabled="#{turmaDisciplina.matricula != null}"
							onclick="PF('modalMapeamentoId').show();"
							update=":formMapeamentoModalId">
							<f:attribute name="turmaDisciplinaSelecionada"
								value="#{turmaDisciplina}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-refresh" disabled="#{turmaDisciplina.matricula == null}" actionListener="#{mapeamentoBean.restauracaoMapeamento}" update=":dataTableId" >
                         <p:confirm icon="ui-icon-alert" header="Restauração" message="Deseja restaurar o Mapeamento da Disciplina #{turmaDisciplina.disciplina.descricao } ?"  >
                         
                         </p:confirm>
                          <f:attribute name="turmaDisciplinaSelecionada" value="#{turmaDisciplina}"  />
						</p:commandButton>
					</b:dataTableColumn>




				</b:dataTable>
			</h:form>
		</b:row>


		<!-- Modal para cadastro do Professor  -->


		<p:dialog modal="true" header="Mapeamento Professor" height="380px"
			width="830px" maximizable="false" widgetVar="modalMapeamentoId"
			closable="true">
			<h:form id="formMapeamentoModalId">

				<p:panel header="Informações da Turma">
					<b:row>

						<b:column col-md="3">

							<b:inputText label="Serie"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.turma.serie.descricao}"
								disabled="true" />

						</b:column>

						<b:column col-md="3">

							<b:inputText label="Turma"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.turma.descricao}"
								disabled="true" />

						</b:column>

						<b:column col-md="3">

							<b:inputText label="Turno"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.turma.turno.descricao}"
								disabled="true" />

						</b:column>

						<b:column col-md="3">

							<b:inputText label="Ano"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.turma.ano}"
								disabled="true" />

						</b:column>


					</b:row>
				</p:panel>

				<p:panel header="Informações da Disciplina">

					<b:row>
						<b:column col-md="4">

							<b:inputText label="Nivel"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.disciplina.tipoNivelEnum.descricao}"
								disabled="true" />

						</b:column>

						<b:column col-md="4">

							<b:inputText label="Disciplina"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.disciplina.descricao}"
								disabled="true" />

						</b:column>

						<b:column col-md="3">

							<b:inputText label="Carga Horaria"
								value="#{mapeamentoBean.turmaDisciplinaSelecionada.disciplina.cargaHoraria}"
								disabled="true" />

						</b:column>

					</b:row>

				</p:panel>

				<b:row>

					<b:column>


						<b:selectOneMenu label="Professor" id="selecaoProfessorId"
							value="#{mapeamentoBean.matriculaMapeamento}" filter="true">
							<f:selectItem itemLabel="Selecione o Professor"
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItems value="#{mapeamentoBean.matriculas}"
								var="matricula"
								itemLabel="#{matricula.numeroMatricula} - #{matricula.funcionario.nome} - #{matricula.cargaHorariaDisponivel}"
								itemValue="#{matricula}" />
						</b:selectOneMenu>

					</b:column>

				</b:row>




				<b:row style="margin:8px;">

					<b:column col-md="2" offset-md="4" col-xs="12">

						<p:commandButton icon="ui-icon-circle-check" value="Salvar"
							actionListener="#{mapeamentoBean.mapearProfessor()}"
							update=":dataTableId :erro" />

					</b:column>

					<b:column col-md="2" col-xs="12">
						<p:commandButton icon=" ui-icon-circle-close"
							onclick="PF('modalMapeamentoId').hide();" value="Cancelar" />


					</b:column>

				</b:row>


			</h:form>
		</p:dialog>


		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
		</p:confirmDialog>



	</ui:define>
</ui:composition>


</h:html>
