<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">


		<h1 style="text-align: center;">Modelo Diario</h1>
		<hr />

		<b:row style="margin-bottom:15px;">
			<p:commandButton icon="	ui-icon-plusthick"
				actionListener="#{modeloDiarioMB.novoModeloDiario()}"
				update=":formId" value="Novo"
				onclick="PF('modalModeloDiario').show();" />


		</b:row>
		<b:row>

			<h:form id="dataId">
				<b:dataTable page-length="4"
					value="#{modeloDiarioMB.listaModeloDiario}" var="modeloDiario">
					<b:dataTableColumn label="Ano" value="#{modeloDiario.ano}" />
					<b:dataTableColumn label="Data Criação"
						value="#{modeloDiario.dataCriacao}">

					</b:dataTableColumn>
					<b:dataTableColumn label="Usuario Criação"
						value="#{modeloDiario.usuarioCriacao.funcionario.nome}" />
					<b:dataTableColumn label="">

						<p:commandButton actionListener="#{modeloDiarioMB.edit}"
							update=":formId" icon="ui-icon-pencil"
							onclick="PF('modalModeloDiario').show();">
							<f:attribute name="modeloDiarioSelecionado"
								value="#{modeloDiario}" />


						</p:commandButton>

						<p:commandButton icon=" ui-icon-refresh "
							actionListener="#{modeloDiarioMB.reloadDiarios}"
							update=":dataId :erro">

							<p:confirm header="Alerta"
								message="Deseja Atualizar o modelo,  e gerar os diarios que ainda não foram gerados ?"
								icon="ui-icon-alert" />

							<f:attribute name="modeloDiarioSelecionado"
								value="#{modeloDiario}" />


						</p:commandButton>
						<p:commandButton style="margin-left:6px;"
							actionListener="#{modeloDiarioMB.excluirModeloDiario}"
							update=":dataId :erro" icon="ui-icon-trash">
							<p:confirm header="Alerta"
								message="Deseja excluir o modelo de  Diario do ano #{modeloDiario.ano} ?
								OBS : todos os diarios associados a ele serão apagados "
								icon="ui-icon-alert" />

							<f:attribute name="modeloDiarioSelecionado"
								value="#{modeloDiario}" />

						</p:commandButton>



					</b:dataTableColumn>
				</b:dataTable>
			</h:form>


			<p:dialog width="800px" widgetVar="modalModeloDiario"
				draggable="false" resizable="false" modal="true" appendToBody="true">
				<f:facet name="header">
					<h5>Modelo Diario</h5>
				</f:facet>
				<h:form id="formId" style="margin:10px;">

					<b:panel look="primary">
						<b:row>
							<b:column col-md="6">
								<b:inputText label="Matricula Criação" readonly="true"
									value="#{modeloDiarioMB.modeloDiario.usuarioCriacao.funcionario.nome}" />

							</b:column>
							<b:column col-md="6">
								<b:inputText type="number" label="Ano do Modelo"
									value="#{modeloDiarioMB.modeloDiario.ano}" required="true"
									readonly="#{modeloDiarioMB.btnAtualizar}" />
							</b:column>
						</b:row>
					</b:panel>




					<b:row>

						<p:dataTable style="font-size:12px !important;"
							value="#{modeloDiarioMB.listaModeloPeriodo}" var="modeloPeriodo"
							striped='true' border="false" searching="false">

							<p:column headerText="Periodo">
								<p:outputLabel value="#{modeloPeriodo.periodo.descricao}" />
							</p:column>

							<p:column headerText="Data Inicio">
								<p:calendar value="#{modeloPeriodo.dataInicio}"
									timeZone="America/Sao_Paulo" mask="true"
									placeholder="data inicio periodo" locale="pt_BR"
									pattern="dd/MM/yyyy" />
							</p:column>

							<p:column headerText="Data Fim">
								<p:calendar value="#{modeloPeriodo.dataFim}"
									timeZone="America/Sao_Paulo" mask="true"
									placeholder="data fim periodo" locale="pt_BR"
									pattern="dd/MM/yyyy" />
							</p:column>


						</p:dataTable>
					</b:row>


					<b:row style="margin:10px;">
						<b:column col-md="2" rendered="#{!modeloDiarioMB.btnAtualizar}">
							<p:commandButton value="Salvar"
								actionListener="#{modeloDiarioMB.salvarDiario()}"
								update=":dataId :erro :formId" />

						</b:column>

						<b:column col-md="2" rendered="#{modeloDiarioMB.btnAtualizar}">
							<p:commandButton value="Atualizar"
							actionListener="#{modeloDiarioMB.atualizarModeloDiario}"
							 update=":dataId :erro :formId" />

						</b:column>

						<b:column col-md="1">
							<p:commandButton value="Cancelar" type="button"
								onclick="PF('modalModeloDiario').hide();" />
						</b:column>
					</b:row>
				</h:form>
			</p:dialog>


			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
			</p:confirmDialog>

		</b:row>


	</ui:define>
</ui:composition>

</h:html>
