<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">


		<h1 style="text-align: center;">Turma</h1>
		<hr />

		<b:row style="margin-bottom:15px;">
				<p:commandButton icon="	ui-icon-plusthick"   actionListener="#{turmaBean.novo()}"
					update=":formId" value="Novo"
					onclick="PF('modalTurma').show();"   />
					
					
		</b:row>
		<b:row>

			<h:form id="dataId">
				<b:dataTable page-length="4" value="#{turmaBean.turmas}" var="turma">
					<b:dataTableColumn label="Descricao" value="#{turma.descricao}" />
					<b:dataTableColumn label="serie" value="#{turma.serie.descricao}" />
					<b:dataTableColumn label="turno" value="#{turma.turno.descricao}" />
					<b:dataTableColumn label="ano" value="#{turma.ano}" />
					<b:dataTableColumn label="Data Cadastro"
						value="#{turma.dataCriacao}" />
					<b:dataTableColumn label="Ativo" />
					<b:dataTableColumn label="">

						<p:commandButton actionListener="#{turmaBean.editar}"
							update=":formId" onclick="PF('modalTurma').show();"
							icon="ui-icon-pencil">
							<f:attribute name="turmaSelecionada" value="#{turma}" />
						</p:commandButton>

						<p:button icon="ui-icon-folder-open" outcome="/turmaEdit.xhtml" >
						  <f:param name="turmaId" value="#{turma.turmaId}"  />
						</p:button>

						<p:commandButton style="margin-left:6px;"
							actionListener="#{turmaBean.removerTurma}" update=":dataId"
							icon="ui-icon-trash">
							<p:confirm header="Alerta"
								message="Deseja excluir a turma #{turma.descricao} ? "
								icon="ui-icon-alert" />

							<f:attribute name="turmaSelecionada" value="#{turma}" />

						</p:commandButton>



					</b:dataTableColumn>
				</b:dataTable>
			</h:form>





			<p:dialog header="Turma" draggable="false" widgetVar="modalTurma"
				modal="true">
				<h:form id="formId">

					<b:row>
						<b:column col-md="4">
							<b:selectOneMenu label="Serie"
								value="#{turmaBean.turmaSelecionda.serie}">
								<f:selectItem itemLabel="Selecione uma Serie"
									noSelectionOption="true" />
								<f:selectItems value="#{turmaBean.series}" var="serie"
									itemLabel="#{serie.descricao}" itemValue="#{serie}" />
							</b:selectOneMenu>
						</b:column>

						<b:column col-md="4">
							<b:selectOneMenu label="Turno"
								value="#{turmaBean.turmaSelecionda.turno}">
								<f:selectItem itemLabel="Selecione o turno "
									noSelectionOption="true" />
								<f:selectItems value="#{turmaBean.turnos}" var="turno"
									itemLabel="#{turno.descricao}" itemValue="#{turno}" />
							</b:selectOneMenu>
						</b:column>

						<b:column col-md="2">
							<b:inputText type="number" label="Ano"
								value="#{turmaBean.turmaSelecionda.ano}" required="true"
								placeholder="Ex:2019" />
						</b:column>

						<b:column col-md="2">
							<b:inputText label="Descrição"
								value="#{turmaBean.turmaSelecionda.descricao}" required="true"
								placeholder="Descrição" />
						</b:column>



					</b:row>
					<b:row>
						<b:column col-md="2">
							<p:commandButton  value="Salvar"
								 actionListener="#{turmaBean.salvar}"
								rendered="#{!turmaBean.btnEditar}"
								update=":dataId :erro :formId"
								onclick="PF('modalTurma').hide();" />

							<p:commandButton  value="Atualizar"
								 actionListener="#{turmaBean.atualizarTurma}"
								rendered="#{turmaBean.btnEditar}" update=":dataId :erro :formId"
								onclick="PF('modalTurma').hide();" />

						</b:column>
						<b:column col-md="1">
							<p:commandButton  value="Cancelar" type="button"
								onclick="PF('modalTurma').hide();" />
						</b:column>
					</b:row>
				</h:form>
			</p:dialog>


			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
			</p:confirmDialog>

		</b:row>


	</ui:define>
</ui:composition>

</h:html>
