<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" 
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">

		<b:row>
			<b:jumbotron style="padding:12px;">
				<h4 align="center">Turma</h4>
			</b:jumbotron>
		</b:row>

		<b:row>
			<b:panel look="primary" title="Informações da Turma">
				<b:row>

					<b:column col-md="3">

						<b:inputText label="Serie"
							value="#{turmaEditMB.turmaSelecionada.serie.descricao}"
							disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Turma"
							value="#{turmaEditMB.turmaSelecionada.descricao}" disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Turno"
							value="#{turmaEditMB.turmaSelecionada.turno.descricao}"
							disabled="true" />

					</b:column>

					<b:column col-md="3">

						<b:inputText label="Ano"
							value="#{turmaEditMB.turmaSelecionada.ano}" disabled="true" />

					</b:column>


				</b:row>

			</b:panel>

		</b:row>


		<b:row>

			<p:tabView id="tabViewId">
				<p:tab title="Disciplina/Professor">

					<b:row>
						<b:jumbotron style="padding:8px;">
							<h4 align="center">Disciplinas</h4>
						</b:jumbotron>
					</b:row>
					<h:form>
						<p:commandButton value="Adicionar Disciplina"
							actionListener="#{turmaEditMB.novaTurmaDisciplina}"
							onclick="PF('modalAddTurmaDisciId').show();" style="margin:10px;"
							update=":formCadDiscId:disciplinaListId" />
					</h:form>

					<h:form id="dataTurmaDisciplina">

						<b:dataTable value="#{turmaEditMB.turmaDisciplinas}"
							striped='true' border="false" var="turmaDisciplina">
							<b:dataTableColumn label="Codigo"
								value="#{turmaDisciplina.turmaDisciplinaId}" />
							<b:dataTableColumn label="Disciplina"
								value="#{turmaDisciplina.disciplina.descricao}" />
							<b:dataTableColumn label="Carga Horaria"
								value="#{turmaDisciplina.disciplina.cargaHoraria}" />
							<b:dataTableColumn label="Professor"
								value="#{turmaDisciplina.nomeProfessor}" />
							<b:dataTableColumn label="">
								<p:commandButton icon="ui-icon-pencil" />

								<p:commandButton icon="ui-icon-close"
									actionListener="#{turmaEditMB.excluirTurmaDisciplina}"
									update=":tabViewId:dataTurmaDisciplina :erro">
									<p:confirm icon="ui-icon-alert" header="Exclusão"
										message="Deseja excluir a disciplina de #{turmaDisciplina.disciplina.descricao} da turma ?">

									</p:confirm>
									<f:attribute name="turmaDisciplinaSelecionada"
										value="#{turmaDisciplina}" />
								</p:commandButton>
							</b:dataTableColumn>

						</b:dataTable>
					</h:form>


				</p:tab>

				<p:tab title="Alunos" id="alunoTabId">
					<b:row>
						<b:jumbotron style="padding:8px;">
							<h4 align="center">Alunos</h4>
						</b:jumbotron>
					</b:row>
					<h:form id="dataTurmaAluno">
						<p:commandButton value="Adicionar Aluno na turma"
							actionListener="#{turmaEditMB.novoAlunoTurma}"
							update=":cadMapAluno" style="margin:10px;"
							onclick="PF('modalAddAluno').show();" />

						<b:dataTable border="false" striped='true'
							value="#{turmaEditMB.turmaAlunos}" var="turmaAluno">
							<b:dataTableColumn label="Codigo"
								value="#{turmaAluno.turmaAlunoId}" />
							<b:dataTableColumn label="Aluno" value="#{turmaAluno.aluno.nome}" />
							<b:dataTableColumn label="Cpf" value="#{turmaAluno.aluno.cpf}" />
							<b:dataTableColumn label="Data matricula"
								value="#{turmaAluno.dataMatricula}" />
							<b:dataTableColumn label="">
								<p:commandButton icon="ui-icon-close"
									actionListener="#{turmaEditMB.removerTurmaAluno}"
									update=":tabViewId:dataTurmaAluno :erro">

									<p:confirm icon="ui-icon-alert" header="Remover"
										message=" Deseja  remover o(a) aluno(a) #{turmaAluno.aluno.nome} da turma   ? ">

									</p:confirm>

									<f:attribute name="turmaAlunoSelecionado" value="#{turmaAluno}" />

								</p:commandButton>
							</b:dataTableColumn>
						</b:dataTable>

					</h:form>

				</p:tab>

				<p:tab title="Horarios">

					<h:form id="formHorario" style="margin-bottom:15px;">
						<p:schedule value="#{turmaEditMB.eventModel}" widgetVar="scheduleHorario" id="scheduleHorarioId"
							timeZone="America/Fortaleza" locale="pt-br" view="agendaWeek"
							timeFormat="HH:mm" axisFormat="H:mm" minTime="7:00"
							maxTime="23:00" style="width: 100%; height: 700px;"/>
					</h:form>

				</p:tab>

			</p:tabView>



		</b:row>



		<!-- Inicio Modais  -->

		<p:dialog header="Seleção de  Aluno" widgetVar="modalAddAluno"
			width="80%" position="top,center" modal="true">
			<h:form id="cadMapAluno">

				<b:dataTable value="#{turmaEditMB.alunos}" var="aluno">

					<b:dataTableColumn label="Codigo" value="#{aluno.alunoId}" />

					<b:dataTableColumn label="Nome" value="#{aluno.nome}" />

					<b:dataTableColumn label="Cpf" value="#{aluno.cpf}" />

					<b:dataTableColumn label="Nome Mãe" value="#{aluno.nomeMae}" />

					<b:dataTableColumn label=" ">
						<p:commandButton icon="ui-icon-check"
							actionListener="#{turmaEditMB.adicionarAluno}"
							update=":cadMapAluno :tabViewId:dataTurmaAluno :erro">
							<p:confirm icon="ui-icon-alert" header="Mapeamento"
								message="Deseja adicionar o aluno(a) #{aluno.nome} para a turma #{turmaEditMB.turmaSelecionada.descricao}  #{turmaEditMB.turmaSelecionada.turno.descricao} ?">

							</p:confirm>
							<f:attribute name="alunoSelecionado" value="#{aluno}" />
						</p:commandButton>
					</b:dataTableColumn>
				</b:dataTable>

			</h:form>
		</p:dialog>


		<!-- Modal para Cadastro TurmaDisciplina -->
		<p:dialog header="Cadastro Disciplina" modal="true"
			widgetVar="modalAddTurmaDisciId" position="top,center">
			<h:form id="formCadDiscId">
				<b:container>
					<b:row>
						<p:panel header="Informações da Turma">
							<b:row>

								<b:column col-md="3">

									<b:inputText label="Serie"
										value="#{turmaEditMB.turmaSelecionada.serie.descricao}"
										disabled="true" />

								</b:column>

								<b:column col-md="3">

									<b:inputText label="Turma"
										value="#{turmaEditMB.turmaSelecionada.descricao}"
										disabled="true" />

								</b:column>

								<b:column col-md="3">

									<b:inputText label="Turno"
										value="#{turmaEditMB.turmaSelecionada.turno.descricao}"
										disabled="true" />

								</b:column>

								<b:column col-md="3">

									<b:inputText label="Ano"
										value="#{turmaEditMB.turmaSelecionada.ano}" disabled="true" />

								</b:column>


							</b:row>
						</p:panel>
					</b:row>
					<b:row>
						<b:column col-md="4" offset-md="4" col-xs="12">
							<b:selectOneMenu label="Disciplina" id="disciplinaListId"
								value="#{turmaEditMB.turmaDisciplinaCad.disciplina}"
								update=":formCadDiscId:lisprofessorId">
								<f:selectItem itemLabel="Selecione a Disciplina"
									noSelectionOption="true" itemDisabled="true" />
								<f:selectItems value="#{turmaEditMB.disciplinas}"
									var="disciplina"
									itemLabel="#{disciplina.descricao} - #{disciplina.cargaHoraria}"
									itemValue="#{disciplina}" />
								<f:ajax listener="#{turmaEditMB.selecaoProfessoresDisponiveis}"
									update=":formCadDiscId:lisprofessorId" />
							</b:selectOneMenu>
						</b:column>
					</b:row>
					<b:row>
						<b:column col-md="12" col-xs="12">
							<b:selectOneMenu id="lisprofessorId" label="Professores"
								value="#{turmaEditMB.turmaDisciplinaCad.matricula}">
								<f:selectItem itemLabel="Selecione a Matricula"
									noSelectionOption="true" itemDisabled="true" />
								<f:selectItems value="#{turmaEditMB.matriculasDisponiveis}"
									var="matricula"
									itemLabel="#{matricula.numeroMatricula} - #{matricula.funcionario.nome} - #{matricula.cargaHorariaDisponivel}"
									itemValue="#{matricula}" />
							</b:selectOneMenu>

						</b:column>
					</b:row>

					<b:row>
						<b:column col-md="2" offset-md="4">
							<p:commandButton value="Salvar"
								actionListener="#{turmaEditMB.salvarTurmaDisciplina}"
								update=":tabViewId:dataTurmaDisciplina :erro" />
						</b:column>

						<b:column col-md="2">
							<p:commandButton value="Cancelar" type="button"
								onclick="PF('modalAddTurmaDisciId').hide();" />
						</b:column>
					</b:row>
				</b:container>
			</h:form>
		</p:dialog>


		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-closethick" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>

</h:html>
