<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>EscolaNet</title>
	<h:outputScript library="js" name="locale.js" />
	<h:outputStylesheet>

	</h:outputStylesheet>
</h:head>
<h:body>

	<b:navBar brand="ESCOLANET" brandHref="#" inverse="true" fixed="top"
		fluid="true">
		<b:column visible="xs">
			<b:navbarLinks pull="right">
				<b:navLink header="Menu Principal" />
				<b:navLink value="Aluno" outcome="/aluno" />
				<b:navLink href="#" value="Turma" />
				<b:navLink href="#" value="Mapeamento" />
				<b:navLink href="#" value="Export" />
			</b:navbarLinks>
		</b:column>
		<b:navbarLinks pull="right">

			<b:dropMenu icon-awesome="user-circle"
				value="#{loginBean.usuarioLogado.funcionario.nome}">
				<b:navLink
					value="Cargo:#{loginBean.matriculaSelecionada.cargo.descricao}"
					href="#" />
				<b:navLink
					value="Unidade:#{loginBean.matriculaSelecionada.unidade.descricao}"
					href="#" />
				<b:navCommandLink value="Mudar Matricula" />
			</b:dropMenu>
		</b:navbarLinks>

	</b:navBar>
	<b:growl id="erro" sticky="true" />

	<b:container fluid="true" style="margin:55px 5px 55px 5px;">
		<b:row>
			<b:column col-sm="2" col-md="2" styleClass="sidebar"
				visible="sm,lg,md">

				<b:well value="#{loginBean.matriculaSelecionada.unidade.sigla}"
					style="border:1px solid white;border-radius:8px;box-shadow:3px 3px 4px rgba(0,0,0,0.4);font-weight:bold;text-align:center;">

				</b:well>

				<b:listLinks
					style="box-shadow:3px 3px 4px rgba(0,0,0,0.4);padding-bottom:60%;">
					<b:navLink header="Menu Principal" />
					<b:navLink icon-awesome="search" href="#" value="Consulta" />
					<b:navLink icon-awesome="user" value="Aluno" outcome="/aluno" />
					<b:navLink icon-awesome="book " value="Matricula Aluno" />
					<b:navLink icon-awesome="users" value="Turma" outcome="/turma" />
					<b:navLink icon-awesome="id-card-o" value="Boletim" />
					<b:navLink icon-awesome="book " value="Diario" outcome="/listdiario" /> 
					<b:navLink icon-awesome="book " value="Modelo Diario"  outcome="/modeloDiario" />
					<b:navLink icon-awesome="newspaper-o" outcome="/mapeamento"
						value="Mapeamento" />
					<b:navLink style="color:red;" icon-awesome="sign-in" href="#"
						value="Sair" />
				</b:listLinks>

			</b:column>
			<b:column col-sm="10" col-md="10" styleClass="main">
				<ui:insert name="conteudo" />
			</b:column>
		</b:row>

		<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">


			<f:facet name="start">
				<p:graphicImage name="./img/load.gif" />
			</f:facet>


		</p:ajaxStatus>

		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="./img/load.gif" />
		</p:dialog>

	
	</b:container>
		<b:navBar 
			 fluid="true" position="buttom" style="padding:0px;margin:0px;" >


		</b:navBar>
</h:body>
</html>
